[submodule "001_Global_Race"]
	path = 001_Global_Race
	url = git@github.com:2526-4ahif-pose/ex-intro-01-global-race-m-gruen.git
[submodule "003_Pool_Guard"]
	path = 003_Pool_Guard
	url = git@github.com:2526-4ahif-pose/ex-mapi-01-poolguard-m-gruen.git
[submodule "004_Movies"]
	path = 004_Movies
	url = git@github.com:2526-4ahif-pose/ex-mapi-02-movies-m-gruen.git
[submodule "006_TicTacToe"]
	path = 006_TicTacToe
	url = git@github.com:2526-4ahif-pose/ex-ang-01-tictactoe-m-gruen.git
[submodule "007_Angular_Webapp"]
	path = 007_Angular_Webapp
	url = git@github.com:2526-4ahif-pose/ex-ang-02-webapp-m-gruen.git
