[submodule "001_Global_Race"]
	path = 001_Global_Race
	url = git@github.com:2526-4ahif-pose/ex-intro-01-global-race-m-gruen.git
[submodule "003_Pool_Guard"]
	path = 003_Pool_Guard
	url = git@github.com:2526-4ahif-pose/ex-mapi-01-poolguard-m-gruen.git
[submodule "004_Movies"]
	path = 004_Movies
	url = git@github.com:2526-4ahif-pose/ex-mapi-02-movies-m-gruen.git
[submodule "006_TicTacToe"]
	path = 006_TicTacToe
	url = git@github.com:2526-4ahif-pose/ex-ang-01-tictactoe-m-gruen.git
[submodule "007_Angular_Webapp"]
	path = 007_Angular_Webapp
	url = git@github.com:2526-4ahif-pose/ex-ang-02-webapp-m-gruen.git
[submodule "008_Soccer_Tournament"]
	path = 008_Soccer_Tournament
	url = git@github.com:2526-4ahif-pose/ex-linq-01-soccer-m-gruen.git
[submodule "009_Christmas_Assignment"]
	path = 009_Christmas_Assignment
	url = git@github.com:2526-4ahif-pose/ex-linq-02-christmas-m-gruen.git
[submodule "011_EF_Musicals"]
	path = 011_EF_Musicals
	url = git@github.com:2526-4ahif-pose/ex-ef-01-musicals-m-gruen.git
[submodule "012_EF_Chess"]
	path = 012_EF_Chess
	url = git@github.com:2526-4ahif-pose/ex-ef-02-chess-m-gruen.git
[submodule "013_EF_Library"]
	path = 013_EF_Library
	url = git@github.com:2526-4ahif-pose/ex-ef-03-library-m-gruen.git
[submodule "014_Parallel_Fun"]
	path = 014_Parallel_Fun
	url = git@github.com:2526-4ahif-pose/ex-ef-04-parallel-fun-m-gruen.git
[submodule "016_Movies"]
	path = 016_Movies
	url = git@github.com:2526-4ahif-pose/ex-api-01-movies-m-gruen.git
