.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
  align-self: center;
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
