@let dateFormat = "dd.MM.yyyy";
@if (showAllNames()) {
  <p>Showing all news ever published</p>
} @else if (toDate() === undefined) {
  <p>Showing news since {{fromDate()?.toString() | date}}</p>
} @else if (fromDate() === undefined) {
  <p>Showing news until {{toDate()?.toString() | date}}</p>
} @else {
  <p>
    Showing news from {{fromDate()?.toString() | date:"dd.MM.yyyy"}}
    to {{toDate()?.toString() | date:"shortDate"}}
  </p>
}
<div class="news-container">
  @for (newsItem of newsItems(); track newsItem) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          {{ newsItem.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="news-content">
        <p>{{ newsItem.content }}</p>
        <span>Published: {{ newsItem.publishedAt.toString() | date:dateFormat }}</span>
      </mat-card-content>
    </mat-card>
  }
</div>
