@let dateFormat = "dd.MM.yyyy";
@if (showAllNames()) {
  <p>Showing all news ever published</p>
} @else if (toDate() === undefined) {
  <p>Showing news since {{ fromDate()?.toString() | date }}</p>
} @else if (fromDate() === undefined) {
  <p>Showing news until {{ toDate()?.toString() | date }}</p>
} @else {
  <p>
    Showing news from {{ fromDate()?.toString() | date:"dd.MM.yyyy" }}
    to {{ toDate()?.toString() | date:"shortDate" }}
  </p>
}
<app-news-filter [(textFilter)]="textFilter" [(sortAscending)]="sortAscending"/>
<button mat-button (click)="textFilter.set('visitor')">Show visitor news</button>
<div class="news-container">
  @for (newsItem of displayItems(); track newsItem) {
    @for(i of [1,2,3,4,5,6]; track $index) {
      @defer (on viewport) {
        @defer (on timer(1s)) {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>
                {{ newsItem.title }}
                @if (newsItem.referencesFavorite) {
                  <mat-icon class="favorite">favorite</mat-icon>
                }
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="news-content">
              <p>{{ newsItem.content }}</p>
              <span>Published: {{ newsItem.publishedAt.toString() | date:dateFormat }}</span>
            </mat-card-content>
          </mat-card>
        } @placeholder {
          <span>On timer</span>
        }
      } @placeholder (minimum 1000) {
        <p class="giant-placeholder">Placeholder for news shown for an absurd long time</p>
      }
    }
  }
</div>
