.red {
  background-color: rgba(255, 0, 0, 0.2);
}

.green {
  background-color: rgba(0, 255, 0, 0.2);
}

.blue {
  background-color: rgba(0, 0, 255, 0.2);
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.container {
  border-radius: 1rem;
}
